
      body {
        background-color: #eaf2ff; 
        color: #1c1c1c; 
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      /* Encabezado */
      header {
        background-color: #002b5b;
        color: white;
        text-align: center;
        padding: 20px 0;
      }

      /* Títulos */
      h1 {
        color: white;
      }

      h2 {
        color: #004a99;
      }

      h3 {
        color: #0066cc;
      }

      /* Pie de página */
      footer {
        background-color: #002b5b;
        color: white;
        text-align: center;
        padding: 10px 0;
        margin-top: 20px;
      }

      footer a {
        color: #FF69B4;
        text-decoration: none;
      }

      main {
        display: flex;
        justify-content: space-around;
        padding: 20px;
      }

      aside {
        width: 30%;
      }

      section {
        width: 60%;
      }
   
      .barbuttons{
        text-decoration: none;
        padding: 1%;
        border: 10px;
        border-color: black;
        background-color: #002b5b;
        color: #eaf2ff;
        border-radius: 10px;

      }

      .barbuttons:hover{
        color: black;
        background-color: white;
      }